<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Error 403 - Acceso Denegado</title>
  <link rel="stylesheet" href="/css/stylehome.css">
</head>
<body>
  <header>
    <img src="https://i.ibb.co/Bz7h7YK/Recurso-5-100.jpg" alt="Banner Liga de Béisbol de Bolívar">
    <h1>Error 403</h1>
    <p>No tienes permiso para acceder</p>
    <div>
      <h2>Acceso Restringido</h2>
    </div>
  </header>
  <nav>
    <a href="/">Inicio</a>
    <a href="/temporadas-jugadores">Jugadores</a>
    <a href="/listar-partidos">Ver Partidos</a>
    <a href="/admin">Iniciar Sesión</a>
  </nav>
  <main>
    <h2>¡Alto ahí!</h2>
    <p>No cuentas con los permisos necesarios para ver esta página. Si crees que es un error, comunícate con el administrador.</p>
    <a href="/" class="btn">Volver al Inicio</a>
  </main>
  <footer>
    <p>&copy; 2025 Liga de Béisbol de Cartagena</p>
  </footer>
</body>
</html>
