<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Agregar Bateador Libre</title>
  <link rel="stylesheet" href="/css/stylehome.css">
</head>
<body>
  <header id="inicio">
    <img src="https://i.ibb.co/Bz7h7YK/Recurso-5-100.jpg" alt="Banner Liga de Béisbol de Bolívar">
    <h1>Liga de Béisbol de Cartagena</h1>
    <p>Agregar bateador como agente libre</p>
  </header>

  <nav>
  	<a th:href="@{/admin/jugadores/seleccionar(idTemporada=${idTemporada})}" >Volver </a>
  </nav>

  <main class="contenido">
 
    <h2>Agregar Bateador Libre</h2>

    <form th:action="@{/admin/agregar-bateador-libres/{idTemporada}(idTemporada=${idTemporada})}" 
          method="post" th:object="${bateador}" 
          class="formulario-agregar">

      <label for="nombre">Nombre</label>
      <input type="text" id="nombre" th:field="*{nombre}" placeholder="Nombre" required />

      <label for="edad">Edad</label>
      <input type="number" id="edad" th:field="*{edad}" placeholder="Edad" required />

      <label for="posicion">Posición</label>
      <input type="text" id="posicion" th:field="*{posicion}" placeholder="Posición" />

      <label for="derecho_zurdo">Derecho o Zurdo</label>
      <input type="text" id="derecho_zurdo" th:field="*{derecho_zurdo}" placeholder="Derecho o Zurdo" />

      <hr/>

      <h3>Estadísticas Ofensivas</h3>

      <label for="homeRuns">Home Runs (HR)</label>
      <input type="number" id="homeRuns" th:field="*{homeRuns}" placeholder="HR" />

      <label for="triples">Triples (3B)</label>
      <input type="number" id="triples" th:field="*{triples}" placeholder="3B" />

      <label for="dobles">Dobles (2B)</label>
      <input type="number" id="dobles" th:field="*{dobles}" placeholder="2B" />

      <label for="sencillos">Sencillos (1B)</label>
      <input type="number" id="sencillos" th:field="*{sencillos}" placeholder="1B" />

      <label for="ponches">Ponches</label>
      <input type="number" id="ponches" th:field="*{ponches}" placeholder="Ponches" />
		<br><br>
      <button type="submit" class="btn">Agregar Bateador</button>
    </form>
  </main>

  <footer>
    <p>&copy; 2025 Liga de Béisbol de Cartagena</p>
  </footer>
</body>
</html>
